[Desktop Entry]
Name=Skull Browser
Comment=Fast, keyboard-driven webkit browser extensible by Lua
Exec=skull-browser %u
Icon=skull-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
